.section {
  position: relative;
  width: 100%;
  height: fit-content;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #2e4765;
}

.section__container {
  position: relative;
  z-index: 20;
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.section__container_industries {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .section {
    padding-bottom: 4rem;
  }

  .section__container_industries {
    flex-direction: row;
  }
}

@media (min-width: 1280px) {
  .section {
    padding-bottom: 2rem;
  }

  .section__container {
    height: 40vh;
  }

  .section__container_industries {
    margin-top: 0;
  }
}

@media (min-width: 1536px) {
  .section__container {
    height: 30vh;
  }
}
