.process {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: #f4f6fa;
  position: relative;
}

.process__container {
  width: 85%;
  margin: 2rem auto 0 auto;
}

.process__container_title {
  font-size: 1.75rem;
  font-weight: 300;
  margin-bottom: 1rem;
  line-height: 2rem;
  color: #2e4765;
  width: 85%;
  margin: 0 auto;
}

.process__container_steps {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .process__container {
    width: 768px;
    height: 768px;
  }

  .process__container_title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 0 auto 2rem auto;
    text-align: center;
    width: 50%;
  }

  .process__container_steps {
    position: relative;
    z-index: 100;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
}

@media (min-width: 1280px) {
  .process {
    padding-top: 5rem;
    height: fit-content;
  }

  .process__container {
    width: 100%;
    max-width: 1366px;
    max-height: 667px;
  }

  .process__container_title {
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
    width: 100%;
  }
}

@media (min-width: 1536px) {
  .process {
    padding-top: 3rem;
    padding-bottom: 5rem;
  }

  .process__container {
    width: 100%;
    max-width: 1920px;
    max-height: 1080px;
  }

  .process__container_title {
    font-size: 3.25rem;
    line-height: 3.5rem;
    margin-bottom: 3rem;
    width: 50%;
  }
}
