.certification {
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.certification__container {
  width: 85%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.titles__title {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.75rem;
  margin-bottom: 0.75rem;
  color: #2e4765;
}

.titles__title--marked {
  background-color: #2e4765;
  width: fit-content;
  margin-top: 0.15rem;
  padding: 0 0.25rem;
  font-weight: 500;
  color: #fff;
  font-size: 1.75rem;
  line-height: 2rem;
}

.content__paragraph {
  font-size: 0.85rem;
  font-weight: 300;
  color: #2e4765;
  margin-top: 1.25rem;
  line-height: 1.3rem;
}

.content__link {
  color: #4a50fd;
  font-weight: 600;
  font-size: 0.75rem;
  margin-top: 1.5rem;
}
.titles__link {
  color: #4a50fd;
  font-weight: 600;
  font-size: 0.75rem;
  margin-top: 1.5rem;
  display: none;
}

@media (min-width: 768px) {
  .titles__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    text-align: center;
  }

  .titles__title--marked {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 0.25rem auto 0 auto;
  }

  .content__paragraph {
    font-size: 1.25rem;
    line-height: 2rem;
    margin-top: 2.5rem;
  }

  .content__link {
    font-size: 1.15rem;
    margin-top: 3rem;
  }
}

@media (min-width: 1280px) {
  .certification__container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .certification__container_titles {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .certification__container_content {
    width: 60%;
  }

  .titles__title {
    text-align: start;
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .titles__title--marked {
    margin: 0 0 0.25rem 0;
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .content__link {
    display: none;
  }

  .titles__link {
    display: block;
    font-size: 1rem;
  }

  .content__paragraph {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

@media (min-width: 1536px) {
  .certification {
    padding-top: 2rem;
    padding-bottom: 10rem;
  }

  .titles__title {
    font-size: 3.25rem;
    line-height: 3.5rem;
  }

  .titles__title--marked {
    font-size: 3.25rem;
    line-height: 3.5rem;
  }

  .content__paragraph {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 2.5rem;
  }

  .titles__link {
    font-size: 1.5rem;
  }
}
